.contact{
	padding: $secPadding;
	.contact-con{
		p{
			margin-bottom: 76px;
		}
	}
	i{
		font-size: 50px;
	}
	@media (min-width:0px) and (max-width: 992px){
		padding: 80px 0;
		.contact-con{
			width: 80vw !important;
			
		}
		p{
			margin-bottom: 40px;
		}

	}
	

}