@mixin forShadow($bs){
	-webkit-box-shadow: ($bs); 
	-moz-box-shadow: ($bs);
	-o-box-shadow: ($bs);
	box-shadow: ($bs);
}
@mixin opacity-deg($op){
	-webkit-opacity: ($op); 
	-moz-opacity: ($op);
	-o-opacity: ($op);
	opacity: ($op);
}
@mixin transition-hover($tR){
	-webkit-transition: ($tR); 
	-moz-transition: ($tR);
	-o-transition: ($tR);
	transition: ($tR);
}