/*------------Colors---------------*/
/*bootstrap colors*/
$primary:#fff;
$secondary:#fcca03;
/*my colors*/
$headText:#303233;
$pText:#7a7a7a;
$GrayDark:#232424;
$GrayLight:#303233;
$inputBorder:#eaeaea;
/*----------Padding sections----------*/
$secPadding:130px 0px;
